.App {
  background: #edf0f6;
  padding: 0.5rem;
}

.remove-item-list {
  list-style: none;
  margin: 0;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  background: #fff;
  padding: 1rem;
}

.remove-item {
  margin-top: 12px;
}

.remove-item:nth-child(1) {
  margin-top: 0;
}

.remove-item-content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.ball {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  background: #018564;
}

.remove-item-leadname {
  margin: 0;
  font-weight: bold;
}

.remove-item-number {
  margin: 0;
}

.remove-item-right {
  flex: 1;
}

.btn {
  margin-bottom: 16px;
}

.remove-all {
  margin-left: 8px;
  background-color: rgb(255 0 0 / 30%);
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 36px;
  margin-right: 16px;
  border-radius: 18px;
}

.options-menu {
  margin-top: 21px;
  display: flex;
  flex-direction: row;
}

.tab-select {
  height: 21px;
  margin-right: 9px;
}

h1 {
  font-size: 12px;
}
